<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="webApiBaseUri" value="http://localhost:56627/" />
    <add key="apiPath" value="api/messaging/" />
    <add key="webApiMediaType" value="application/json" />
  </appSettings>
</configuration>
